{% extends 'html/base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">AJAX!</a>
</nav>
<div class="container p-4">
    <form class="ajaxSearch form-inline">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="namefield">Name: </label>
            <input type="text" class="form-control mb-2 mx-sm-4" id="namefield" name="namefield" placeholder="Your Name!">
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="startdate">Start: </label>
            <input type="date" class="form-control mb-2 mx-sm-4" id="startdate" name="startdate">
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="enddate">End: </label>
            <input type="date" class="form-control mb-2 mx-sm-4" id="enddate" name="enddate">
        </div>
    </form>
    <div class="row justify-content-end">
        <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; First</a>
                </li>
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID Number</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Email</th>
                    <th scope="col">Birthdate</th>
                </tr>
            </thead>
            <tbody>
                {% for user in page_obj %}
                <tr>
                    <th scope="row">{{ user.pk }}</th>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.birthdate }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>

</script>
{% endblock content %}